<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gustou Restaurant</title>
  </head>
  <body>
    <h1>Bienvenido a "Gustou Restaurant"</h1>
    <p>Con la mejor sazon de la tierra oriental</p>
    <a
      name=""
      id=""
      class="btn btn-primary"
      href="#"
      role="button"
      >Ver menu</a
    >
    <a
      name=""
      id=""
      class="btn btn-primary"
      href="{% url 'signup' %}"
      role="button"
      >Registrarse</a
    >
    <a
      name=""
      id=""
      class="btn btn-primary"
      href="{% url 'login' %}"
      role="button"
      >Iniciar sesion</a
    >
    
    
  </body>
</html>
